.progress-circle {
  transform: rotate(-90deg);
  display: inline-block;

  &__svg {

  }

  &__circle {
    stroke: #cccccc;
  }

  &__indicator {
      stroke: #004461;
      transition: stroke-dashoffset .7s linear, stroke .7s linear;

    &--filled {
      @extend .progress-circle__indicator;
    }

    &--empty, &--invalid {
      stroke: transparent;
      @extend .progress-circle__indicator;
    }
  }
}
