.progress-circle {
  transform: rotate(-90deg);
  display: inline-block;

  &__svg {

  }

  &__circle {
    stroke: #cccccc;
  }

  &__indicator-1 {
      stroke:red;
      transition: stroke-dashoffset .7s linear, stroke .7s linear;

    &--filled {
      @extend .progress-circle__indicator-1;
    }

    &--empty, &--invalid {
      stroke: transparent;
      @extend .progress-circle__indicator1;
    }
  }
}
